<footer class="footer-distributed">

    <div class="footer-left">
        
        <img src="assets/HomePage/logowhite.png" height="160"  width ="300" alt="shoppify">

        <p class="footer-company-name">Shopify © 2020</p>
    </div>

    <div class="footer-center">

        <p class="footer-company-about">
            <span>Address</span>
            Plot No. EL-200, TTC Electronic Zone Shil Phata <br>- Mahape Road Kopar Khairane.
        </p>
        <br>
        <br><br>
        <p class="footer-company-about">
            <span>Mail Us At</span>
            <a href="mailto:support@company.com">support@company.com</a>
        </p>
        
        
    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
            We are electronic commerce website which allows consumers to directly buy goods or services  from a seller over the Internet using a web browser.
        </p>

        <div >
           
          <!--<a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>-->
            
        </div>

    </div>

</footer>